<!DOCTYPE html>
<html>
  <head>
    <title>Dividewise</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  <script type="text/javascript">
  window.logoURL = "<%= image_url('dividewise.png') %>";
  window.logo = "<%= image_url('logo-square-login-large.svg') %>";

  window.facets = "<%= image_url('facets.png') %>";
  window.elephantx = "<%= image_url('elephant.png') %>";
  window.elephanty = "<%= image_url('elephant2.png') %>";
  window.elephantz = "<%= image_url('elephant3.png') %>";
  
  window.heart = "<%= image_url('heart.svg') %>";
  window.house = "<%= image_url('house.svg') %>";
  window.plane = "<%= image_url('plane.svg') %>";


</script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  </head>

  <body>
  
    <%= yield %>
  </body>
</html>
