<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script data-ad-client="ca-pub-9473145625251885" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <title>Dividewise</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


    <script type="text/javascript">
      window.logoURL = "<%= image_url('dividewisetransparent.png') %>";
      window.logo = "<%= image_url('logo-square-login-large.svg') %>";

      window.facets = "<%= image_url('facets.png') %>";
      window.elephantx = "<%= image_url('elephant.png') %>";
      window.elephanty = "<%= image_url('elephant2.png') %>";
      window.elephantz = "<%= image_url('elephant3.png') %>";
      window.elephanta = "<%= image_url('elephant4.png') %>";

      window.heart = "<%= image_url('heart.svg') %>";
      window.house = "<%= image_url('house.svg') %>";
      window.plane = "<%= image_url('plane.svg') %>";
      window.user = "<%= image_url('user_silhouette.svg') %>";

      window.check = "<%= image_url('checkplease.png') %>";
      window.arrow = "<%= image_url('settleuparrow.png') %>";
      window.orangedude = "<%= image_url('orangeOtherDude.png') %>";
      window.greendude = "<%= image_url('greenMe.png') %>";

      window.sorry = "<%= image_url('sorry.png') %>";
      window.payment = "<%= image_url('payment.png') %>";

      window.avatar0 = "<%= image_url('avatar1.png') %>";
      window.avatar1 = "<%= image_url('avatar2.png') %>";
      window.avatar2 = "<%= image_url('avatar3.png') %>";
      window.avatar3 = "<%= image_url('avatar4.png') %>";
      window.avatar4 = "<%= image_url('avatar5.png') %>";
      window.avatar5 = "<%= image_url('avatar6.png') %>";
      window.avatar6 = "<%= image_url('avatar7.png') %>";
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8QT9KFY4YF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-8QT9KFY4YF');
    </script>

    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    
    
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/> 

  <link
      href="https://fonts.googleapis.com/css?family=Lato&display=swap"
      rel="stylesheet"
    />

  <%# {/* fade in animation */} %>
  <link
    rel="stylesheet"
    href="https://www.w3schools.com/w3css/4/w3.css"
  />

    <%# {/* google Auth removed async defer*/} %>
  <script src="https://apis.google.com/js/platform.js" ></script>
  <meta name="google-signin-client_id" content="23767328561-ndo3b9lpk03lr9kfind7ur4srslp3qrr.apps.googleusercontent.com">

  </head>

  <body>



<%= 
# TO HANDLE the plane, house, and heart animations only
%>
<style> 
.hidden {
  display: none;
}
.lg-any,.lg-heart,.lg-house,.lg-plane{
  -webkit-animation-duration:1s;animation-duration:1s}
  @-webkit-keyframes tealToTeal{0%{background:#1cc29f}to{background:#1cc29f}}
  @keyframes tealToTeal{0%{background:#1cc29f}to{background:#1cc29f}}
  .teal-to-teal{-webkit-animation-name:tealToTeal;animation-name:tealToTeal}
  @-webkit-keyframes tealToPurple{0%{background:#1cc29f}to{background:#8656cd}}
  @keyframes tealToPurple{0%{background:#1cc29f}to{background:#8656cd}}
  .teal-to-purple{-webkit-animation-name:tealToPurple;animation-name:tealToPurple}
  @-webkit-keyframes tealToRed{0%{background:#1cc29f}to{background:#a6002f}}
  @keyframes tealToRed{0%{background:#1cc29f}to{background:#a6002f}}
  .teal-to-red{-webkit-animation-name:tealToRed;animation-name:tealToRed}
  @-webkit-keyframes purpleToRed{0%{background-color:#8656cd}to{background-color:#a6002f}}
  @keyframes purpleToRed{0%{background-color:#8656cd}to{background-color:#a6002f}}
  .purple-to-red{-webkit-animation-name:purpleToRed;animation-name:purpleToRed}
  @-webkit-keyframes purpleToTeal{0%{background-color:#8656cd}to{background-color:#1cc29f}}
  @keyframes purpleToTeal{0%{background-color:#8656cd}to{background-color:#1cc29f}}
  .purple-to-teal{-webkit-animation-name:purpleToTeal;animation-name:purpleToTeal}
  @-webkit-keyframes redToTeal{0%{background-color:#a6002f}to{background-color:#1cc29f}}
  @keyframes redToTeal{0%{background-color:#a6002f}to{background-color:#1cc29f}}
  .red-to-teal{-webkit-animation-name:redToTeal;animation-name:redToTeal}
  @-webkit-keyframes redToPurple{0%{background-color:#a6002f}to{background-color:#8656cd}}
  @keyframes redToPurple{0%{background-color:#a6002f}to{background-color:#8656cd}}
  .red-to-purple{-webkit-animation-name:redToPurple;animation-name:redToPurple}
  .lg-icon path{-webkit-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
  .adu1{-webkit-animation-duration:3s;animation-duration:3s}
  .adu2{-webkit-animation-duration:4s;animation-duration:4s}
  .adu3{-webkit-animation-duration:5s;animation-duration:5s}
  .adu4{-webkit-animation-duration:6s;animation-duration:6s}
  .ad1{-webkit-animation-delay:-1s;animation-delay:-1s}
  .ad2{-webkit-animation-delay:-2s;animation-delay:-2s}
  .ad3{-webkit-animation-delay:-3s;animation-delay:-3s}
  .ad4{-webkit-animation-delay:-4s;animation-delay:-4s}
  .ad5{-webkit-animation-delay:-5s;animation-delay:-5s}
  @-webkit-keyframes sp0{0%,
  to{fill:#ace4d6}30%{fill:#1cc29f}}@keyframes sp0{0%,
  to{fill:#ace4d6}30%{fill:#1cc29f}}.s-p0{-webkit-animation-name:sp0;animation-name:sp0;fill:#ace4d6}@-webkit-keyframes sp1{0%,
  to{fill:#1cc29f}40%{fill:#ace4d6}}@keyframes sp1{0%,
  to{fill:#1cc29f}40%{fill:#ace4d6}}.s-p1{-webkit-animation-name:sp1;animation-name:sp1;fill:#1cc29f}@-webkit-keyframes sp2{0%,
  to{fill:#137863}50%{fill:#0c3c32}}@keyframes sp2{0%,
  to{fill:#137863}50%{fill:#0c3c32}}.s-p2{-webkit-animation-name:sp2;animation-name:sp2;fill:#137863}@-webkit-keyframes sp3{0%,
  to{fill:#137863}60%{fill:#0c3c32}}@keyframes sp3{0%,
  to{fill:#137863}60%{fill:#0c3c32}}.s-p3{-webkit-animation-name:sp3;animation-name:sp3;fill:#0c3c32}@-webkit-keyframes sp28{0%,
  to{fill:#ebf7f4}35%{fill:#fff}}@keyframes sp28{0%,
  to{fill:#ebf7f4}35%{fill:#fff}}.s-p28{-webkit-animation-name:sp28;animation-name:sp28;fill:#ebf7f4;}@-webkit-keyframes sh4{0%,
  to{fill:#a473db}25%{fill:#dec9f1}}@keyframes sh4{0%,
  to{fill:#a473db}25%{fill:#dec9f1}}.s-h4{-webkit-animation-name:sh4;animation-name:sh4;fill:#a473db}@-webkit-keyframes sh5{0%,
  to{fill:#dec9f1}45%{fill:#a473db}}@keyframes sh5{0%,
  to{fill:#dec9f1}45%{fill:#a473db}}.s-h5{-webkit-animation-name:sh5;animation-name:sh5;fill:#dec9f1}@-webkit-keyframes sh6{0%,
  to{fill:#8f4ed3}55%{fill:#4a276d}}@keyframes sh6{0%,
  to{fill:#8f4ed3}55%{fill:#4a276d}}.s-h6{-webkit-animation-name:sh6;animation-name:sh6;fill:#8f4ed3}@-webkit-keyframes sh7{0%,
  to{fill:#4a276d}50%{fill:#8f4ed3}}@keyframes sh7{0%,
  to{fill:#4a276d}50%{fill:#8f4ed3}}.s-h7{-webkit-animation-name:sh7;animation-name:sh7;fill:#4a276d}@-webkit-keyframes sh8{0%,
  to{fill:#d0b3eb}35%{fill:#ece0f7}}@keyframes sh8{0%,
  to{fill:#d0b3eb}35%{fill:#ece0f7}}.s-h8{-webkit-animation-name:sh8;animation-name:sh8;fill:#d0b3eb}@-webkit-keyframes sh9{0%,
  to{fill:#ece0f7}60%{fill:#d0b3eb}}@keyframes sh9{0%,
  to{fill:#ece0f7}60%{fill:#d0b3eb}}.s-h9{-webkit-animation-name:sh9;animation-name:sh9;fill:#ece0f7}@-webkit-keyframes sht10{0%,
  to{fill:#df7a96}40%{fill:#f2c9d4}}@keyframes sht10{0%,
  to{fill:#df7a96}40%{fill:#f2c9d4}}.s-ht10{fill:#df7a96;-webkit-animation-name:sht10;animation-name:sht10}@-webkit-keyframes sht11{0%,
  to{fill:#f2c9d4}50%{fill:#df7a96}}@keyframes sht11{0%,
  to{fill:#f2c9d4}50%{fill:#df7a96}}.s-ht11{fill:#f2c9d4;-webkit-animation-name:sht11;animation-name:sht11}@-webkit-keyframes sht12{0%,
  to{fill:#880020}50%{fill:#b4002b}}@keyframes sht12{0%,
  to{fill:#880020}50%{fill:#b4002b}}.s-ht12{fill:#880020;-webkit-animation-name:sht12;animation-name:sht12}@-webkit-keyframes sht13{0%,
  to{fill:#b4002b}50%{fill:#880020}}@keyframes sht13{0%,
  to{fill:#b4002b}50%{fill:#880020}}.s-ht13{fill:#b4002b;-webkit-animation-name:sht13;animation-name:sht13}@-webkit-keyframes sht14{0%,
  to{fill:#5b0015}60%{fill:#c71e57}}.s-ht14{fill:#5b0015;-webkit-animation-name:sht14;animation-name:sht14}@keyframes sht14{0%,
  to{fill:#c71e57}60%{fill:#5b0015}}.s-ht15{fill:#c71e57;-webkit-animation-name:sht3;animation-name:sht3}.s-a16,.s-ht16{fill:none}@-webkit-keyframes sa17{0%,
  to{fill:#c4c8cf}50%{fill:#909599}}@keyframes sa17{0%,
  to{fill:#c4c8cf}50%{fill:#909599}}.s-a17{-webkit-animation-name:sa17;animation-name:sa17;fill:#c4c8cf}@-webkit-keyframes sa18{0%,
  to{fill:#909599}50%{fill:#c4c8cf}}@keyframes sa18{0%,
  to{fill:#909599}50%{fill:#c4c8cf}}.s-a18{-webkit-animation-name:sa18;animation-name:sa18;fill:#909599}@-webkit-keyframes sa19{0%,
  to{fill:#757a7e}50%{fill:#52595f}}@keyframes sa19{0%,
  to{fill:#757a7e}50%{fill:#52595f}}.s-a19{-webkit-animation-name:sa19;animation-name:sa19;fill:#52595f}@-webkit-keyframes sa20{0%,
  to{fill:#757a7e}50%{fill:#52595f}}@keyframes sa20{0%,
  to{fill:#757a7e}50%{fill:#52595f}}.s-a20{-webkit-animation-name:sa20;animation-name:sa20;fill:#757a7e}@-webkit-keyframes sa21{0%,
  to{fill:#373b3f}50%{fill:#909498}}@keyframes sa21{0%,
  to{fill:#373b3f}50%{fill:#909498}}.s-a21{-webkit-animation-name:sa21;animation-name:sa21;fill:#373b3f}@-webkit-keyframes sa22{0%,
  to{fill:#909498}50%{fill:#373b3f}}@keyframes sa22{0%,
  to{fill:#909498}50%{fill:#373b3f}}.s-a22{-webkit-animation-name:sa22;animation-name:sa22;fill:#909498}@-webkit-keyframes sa25{0%,
  to{fill:#363b3f}50%{fill:#363b3f}}@keyframes sa25{0%,
  to{fill:#363b3f}50%{fill:#363b3f}}.s-a25{-webkit-animation-name:sa25;animation-name:sa25;fill:#363b3f}@-webkit-keyframes sa113{0%,
  to{fill:#747a80}50%{fill:#505960}}@keyframes sa113{0%,
  to{fill:#747a80}50%{fill:#505960}}.s-a113{-webkit-animation-name:sa113;animation-name:sa113;fill:#747a80}@-webkit-keyframes sa114{0%,
  to{fill:#505960}50%{fill:#747a80}}@keyframes sa114{0%,
  to{fill:#505960}50%{fill:#747a80}}.s-a114{-webkit-animation-name:sa114;animation-name:sa114;fill:#505960}
</style>

             


<%= 


%>


    <%= yield %>
    <% #request.original_url %>
    <%= 

  %>
  </body>
</html>
